<!DOCTYPE html>
<html ng-app="app7" ng-cloak>
<head>
<meta charset="UTF-8">
<title>AngularJS Tutorial 7</title>
<style>
[ng\:cloak], [ng-cloak], .ng-cloak {
	display:none;
}
</style>
</head>
<body>
	<div ng-controller='mainCtrl as parent'>
		<p>Name : {{parent.name}}</p>
		<p>Sound : {{parent.sound}}</p>
		<button ng-click=parent.animalClick()>Animal Data</button><br>
	</div>
	
	<div ng-controller='dogCtrl as dog'>
		<p>Name : {{dog.child.name}}</p>
		<p>Sound : {{dog.child.sound}}</p>
		<button ng-click=dog.child.animalClick()>Dog Data</button><br>
		<button ng-click=dog.child.dogClick()>More Dog Data</button><br>
		
		<input ng-model="dog.child.bark" /><br><br>
		<span>New Bark : {{dog.child.bark}}</span>
	</div>
	
	
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="js/exam7.js"></script>




</body>
</html>